.details {
  display: flex;
  flex-flow: column nowrap;

  .actions {
    display: flex;
    flex-flow: row nowrap;

    button {
      flex: 1;
      margin: 0 4px;
    }
  }

  .fields {
    margin: 8px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;

    label {
      display: inline-flex;
      align-items: center;
    }
  }


}