html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

#react {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
